@font-face {
    font-family: 'MyriadProSemiboldCondensed';
    src: url('fonts/myriadpro-semiboldcond-webfont.eot');
    src: url('fonts/myriadpro-semiboldcond-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/myriadpro-semiboldcond-webfont.woff') format('woff'),
        url('fonts/myriadpro-semiboldcond-webfont.ttf') format('truetype'),
        url('fonts/myriadpro-semiboldcond-webfont.svg#MyriadProSemiboldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: #0000CD;
    width: 100%;
    min-width: 998px;
}

.shell {
    width: 978px;
    margin: 0 auto;
    padding: 0 10px;
}

a { color: #0000CD; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: "Trebuchet MS", arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

/* Search */
#search { background: url('../imagesSite/search-bg.png') repeat-x 0 0; padding-top: 5px; }
#search form { float: right; display: inline; width: 193px; padding-right: 0px; padding-top: 8px;}
#search input { background: none; border: none; }
#search .container { background: url('../imagesSite/search-field.png') no-repeat 0 0; width: 118px; height: 26px; float: left; display: inline; }
#search .container input { color: #0000CD; font-size: 12px; line-height: 16px; padding: 5px 9px; width: 119px; height: 16px; }
#search .search-button { background: url('../imagesSite/search-button.png') no-repeat 0 0; width: 75px; height: 26px; cursor: pointer; font-size: 0; line-height: 0; text-indent: -4000px; float: left; display: inline; }

/* Header */
h1#logo { padding-top: 22px; padding-bottom: 5px; }
h1#logo a { width: 214px; height: 55px; background: url('../imagesSite/logo.png') no-repeat 0 0; display: block; }

/* Navigation */
#navigation { background: url('../imagesSite/footer-bg.png') repeat-x 0 0; margin-bottom: 24px; }
#navigation li { float: left; display: inline; border-right: 1px solid #0000CD; }
#navigation li a { float: left; height: 48px; line-height: 48px; font-weight: bold; font-size: 14px; color: #0000CD; display: inline; padding-left: 17px; padding-right: 16px; }
#navigation li a:hover { background: url('../imagesSite/footer-bg.png') repeat-x 0 0; text-decoration: none; color: #85ff02; }

/* Main */
#main { padding-top: 42px; background: url('../imagesSite/main-top.png') no-repeat center 0; }
#main .inner { background: url('../imagesSite/main-bottom.png') no-repeat center bottom; padding-bottom: 43px; }

/* Sidebar */
.sidebar { width: 173px; display: inline; }
#left-sidebar { float: left; }
#right-sidebar { float: right; }
.sidebar li { list-style: none outside none; }
.widget { background: url('../imagesSite/widgets-left-bg.png') no-repeat 0 42px; margin-bottom: 33px; position: relative; z-index: 10; }
.widget .widget-entry { background: url('../imagesSite/widget-sep.png') no-repeat 0 bottom; }
.widget h2 { height: 50px; background: url('../imagesSite/widget-title.png') no-repeat 0 0; line-height: 50px; padding-left: 9px; font-size: 17px; font-weight: bold; color: #0000CD; padding-bottom: 6px; }
.widget li { background: url('../imagesSite/widget-sep.png') no-repeat 0 bottom; display: block; height: 36px; }
.widget li.last { background: none; }
.widget li a { color: #0000CD; font-size: 11px; padding-left: 11px; background: url('../imagesSite/widget-item.png') repeat-x 0 0; display: block; text-transform: uppercase; line-height: 33px; overflow: hidden; font-weight: bold}
.widget li a:hover { background-position: 0 -35px; text-decoration: none; color: #0000CD; }
.widget li a span { padding-left: 12px; display: block; background: url('../imagesSite/widget-arrow.png') no-repeat 0 13px; }
.widget a.items { text-align: center; display: block; font-size: 14px; color: #0000CD; background: url('../imagesSite/cart-items-sep.png') no-repeat center 0; line-height: 20px; padding-bottom: 13px; padding-top: 2px; margin-right: 10px; }

.select-widget { z-index: 20; position: relative; }
.selectbox { background: #292929; width: 133px; height: 22px; line-height: 22px; position: relative; color: #0000CD; border: 1px solid #405130; margin: 0 auto 12px; font-size: 12px; }
.select-hovered { border-bottom: 0; padding-bottom: 1px; }
.selectbox .currentItem { background: url('../imagesSite/select-arrow.png') no-repeat right center; display: block; height: 22px; padding-left: 5px; padding-right: 20px; margin-right: 1px; overflow: hidden; cursor: pointer; }
.selectbox select { display: none; }
.selectbox .list { display: none; position: absolute; top: 23px; left: -1px; width: 133px; border: 1px solid #405130; border-top: 0; background: #292929;  }
.selectbox .list li { list-style: none; background: none; height: 22px !important; }
.selectbox .list li.active { display: none; }
.selectbox .list li a { color: #0000CD; background: none; font-size: 12px; padding-left: 21px; text-transform: none; line-height: 22px; }
.selectbox .list li a:hover { color: #0000CD; }

.products-box { background: url('../imagesSite/widgets-right-bg.png') no-repeat 0 42px; margin-bottom: 47px; }
.products-box h2 { padding-bottom: 9px; }
.products-box .widget-entry { background: none; }
.products-box li { text-align: left; padding-bottom: 6px; background: none; float: left; display: inline; height: auto; }
.products-box li a { background: none; line-height: 16px; padding-left: 8px; padding-bottom: 0; width: 165px; }
.products-box li a span { background: none; padding-left: 0; font-size: 14px; font-weight: bold; }
.products-box li a span.cl { font-size: 0; font-weight: normal; display: block; }
.products-box li a img { float: left; display: inline; width: 49px; }
.products-box li a .info { float: right; display: inline; width: 109px; padding-top: 3px; }
.products-box li a .title { color: #0000CD; font-size: 13px; text-transform: none; padding-bottom: 2px; font-weight: bold; }
.products-box li a .number {  color: #006400; font-size: 13px; text-transform: none; padding-bottom: 2px; font-weight: bold; }
.products-box li a .price { color: #0000CD; }
.products-box li a .price span { display: inline; color: #0000CD; }
.products-box li a .orders { color: #0000CD; }
.products-box li a .orders span { display: inline; color: #0000CD; }
.products-box li a:hover { background-image: none; background: #1d1d1d; }
.products-box li a:hover .title { color: #0000CD; }
.products-box li a:hover .price { color: #0000CD; }
.products-box li a:hover .price span { color: #0000CD; }

/* Content */
#content { width: 589px; padding-left: 31px; float: left; display: inline; }
#content h2 { font-size: 18px; color: #0000CD; background: url('../imagesSite/title-top.png') no-repeat 0 0; margin-bottom: 14px; padding: 16px 2px 12px; position: relative; }
#content h2 .title-bottom { background: url('../imagesSite/title-bottom.png') no-repeat 0 0; display: block; position: absolute; bottom: 0; left: 0; width: 569px; height: 1px; font-size: 0; line-height: 0; text-indent: -4000px; }
#content p { word-spacing: -1px; }
#content .post { color: #0000CD; padding-bottom: 31px; }

#products h2 { padding: 17px 0 14px; font-weight: normal; margin-bottom: 21px; }
#products .product { float: left; display: inline; padding-right: 5px; padding-bottom: 34px; text-align: center; position: relative; overflow: hidden; width: 186px; }
#products .last { padding-right: 0; }
#products .product a { background: url('../imagesSite/product-bg.png') no-repeat 0 0; display: block; width: 186px; height: 250px; }
#products .product span { display: block; }
#products .product .title { font-size: 11px; color: #0000CD; line-height: 20px; padding: 13px 0 6px; font-weight: bold; }
#products .product img { padding-right: 2px; }
#products .product .number { font-weight: bold; font-size: 13px; color: #006400; line-height: 20px; padding: 4px 0; }
#products .product .price { font-weight: bold; font-size: 18px; color: #0000CD; }
#products .product .price span { color: #0000CD; display: inline; }
#products .product a:hover { background-position: 0 -250px; text-decoration: none; }
#products .product a:hover .title { color: #0000CD; }

#products .productselect { float: left; display: inline; padding-right: 5px; padding-bottom: 34px; text-align: left; position: relative; overflow: hidden; width: 500px; }
#products .productselect span { display: block; }
#products .productselect .title { font-size: 14px; color: #0000CD; line-height: 20px; padding: 13px 0 6px; font-weight: bold; }
#products .productselect img { padding-right: 2px; }
#products .productselect .number { font-weight: bold; font-size: 20px; color: #006400; line-height: 20px; padding: 4px 0; }
#products .productselect .price { font-weight: bold; font-size: 18px; color: #0000CD; }
#products .productselect .price span { color: #0000CD; display: inline; }
#products .productselect p { font-weight: bold; font-size: 14px; color: #0000CD; }
#products .productselect .comprar { position: absolute; bottom: 0; right: 21px; width: 164px; height: 405px; background: url('../imagesSite/product-comprar.png') no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px;}
#slider li .more { position: absolute; bottom: 0; right: 21px; width: 164px; height: 69px; background: url('../imagesSite/slide-more.png') no-repeat 0 0;  }

#pessoa  { float: left; display: inline; padding-right: 5px; padding-bottom: 34px; text-align: left; position: relative; overflow: hidden; width: 500px; }
#pessoa span { display: block; }

/* Footer */
#footer { background: url('../imagesSite/footer-bg.png') repeat-x 0 0; color: #c5db87; font-size: 11px; padding-top: 9px; padding-bottom: 30px; }
#footer a { color: #0000CD; }
#footer span { padding: 0 6px; }
#footer p { float: left; display: inline; font-family: arial, sans-serif; word-spacing: 1px; padding-right: 0px; }
#footer p.bottom-menu { float: left; display: inline; font-family: "Trebuchet MS", arial, sans-serif; word-spacing: 0; padding-top: 1px; padding-left: 0px; }